h1,h2{
    display:inline-block;
    padding-left: 20px;
}
h1{
    color:1px solid black;
}
h2{
    color:burlywood;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#header{
    color:rgb(0, 183, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: large;
    padding-left: 20px;
}
.aside-header{
    padding-left:900px;
    
}
#u_s{
    text-transform: capitalize;
}
.us{
    color:dimgray;
    font-size: 20px;
}
#section-left{
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    column-gap: normal;
}
#section_left-top{
    text-transform: capitalize;
    /*flex-direction: row;
    column-gap: normal;*/
}
.sub-heading{
    font-size: 20px;
    text-transform: capitalize;
    color:black;
    font-weight: 300;
    font-style:bold;
    display: flex;
    flex-direction: row;
}
#body{
    text-transform: capitalize;
    display: flex;
    flex-direction: row;

}
#section_left-body{
    text-transform: capitalize;
    /*display: flex;
    flex-direction:row;*/
}
.sec_left{
    text-transform: capitalize;
    padding-left:10px;
}
.sec_right{
    text-transform: capitalize;
    display: flex;
    flex-direction:column;
    justify-content: right;
    padding-left: 90px;
}
.colored{
    color:rgb(0, 183, 255);
    text-transform: capitalize;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.highlight{
    font-size:20px;
    text-transform: capitalize;
    color:black;
}
#isiran{
    text-transform:uppercase;
    color:black;
    font-size:20px;
}
#institute{
    text-transform: capitalize;
    color:black;
    font-size:20px
}
.dotted{
     border-style:1px black dotted;
}
#section-right{
    /*display:flex;
    flex-direction:row;*/
}
#section_right-body{
    text-transform: capitalize;
    /*display:flex;
    flex-direction: row;*/
}
.aside_left{
    text-transform: capitalize;
    color:rgb(0, 183, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: normal;
    font-size: 20px;
}
.aside_right{
    text-transform: capitalize;
    
}